:root {
    --mdc-theme-primary: #346A1F;
    --mdc-theme-secondary: #F7FFED;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--mdc-theme-secondary);
}

.title {
    margin: 30px;
    font-size: 2em;
    font-weight: 400;
    margin-top: 20px;
}

#deals-per-page {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#deals-per-page button {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deals-per-page button:hover {
    background-color: var(--mdc-theme-secondary);
    color: var(--mdc-theme-on-secondary);
}

#deals-table {
    width: 100%;
    border-collapse: collapse;
}

#deals-table td, #deals-table th {
    border: none;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#deals-table tr:last-child td {
    border-bottom: none;
}

#deals-table th {
    font-weight: 600;
    color: #1A1C18
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container {
    padding: 0 30px;
}

body .pagination-button {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    margin: 20px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

body .pagination-button:hover {
    filter: brightness(90%);
}

.select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-text {
    margin-right: 10px;
}

#deals-select {
    background: transparent;
    border: none;
}

.select-items {
    background-color: var(--mdc-theme-secondary);
}

#loading-wheel {
    width: 32px;
    height: 32px;
    border: 5px solid #F7FFED;
    filter: brightness(90%);
    border-top: 5px solid var(--mdc-theme-primary);
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    margin: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
